body, html {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", helvetica, arial, sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}

#header {
	background: #161C33;
	padding: 10px 20px 5px 20px;
	overflow: hidden;
}

.logoImg {
	width: 23px;
	height: 23px;
	margin: -2px 2px 0 0;
	float: left;
}

.logo {
	float: left;
	margin: 0;
	color: #fff;
}

#general-settings-bar {
	float: right;
}

.download {
	display: inline;
}

.layout-selector {

}

#content {
	height: 150px;
	background: #f7faff;
}

.choose-layout-banner {
	width: 380px;
	color: #fff;
	text-shadow:
   -1px -1px 0 #e5ecf5,  
    1px -1px 0 #e5ecf5,
    -1px 1px 0 #e5ecf5,
     1px 1px 0 #e5ecf5;
	position: absolute;
	left: 38%;
	font-size: 50px;
	z-index: 0;
}

iframe {
	width: 100%;
	position: relative;
	border: none;
	z-index: 10;
}
