body, html {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", helvetica, arial, sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}

#header {
	background: #161C33;
	padding: 10px 20px 5px 20px;
	overflow: hidden;
}

.logo_section {
	float: left;
	margin-right: 20px;
}

.logoImg {
	width: 23px;
	height: 23px;
	margin: -2px 2px 0 0;
	float: left;
}

.logo {
	float: left;
	margin: 0;
	color: #fff;
}

.project_info {
	float: left;
}

.project_info ul {
	display: inline;
	list-style-type: none;
	padding: 0;
}

.project_info li {
	margin: 0 0 0 20px;
	float: left;
}

.project_info a {
	color: #fff;
	text-decoration: none;
}

.project_info a:hover {
	color: #bea6bc;
}

.github_logo {
	width: 50px;
	height: 14px;
	margin: 1px 0 0 0;
}

.pearl_modal {
	display: none;
	background: #161C33;
	position: fixed;
	padding: 15px;
	width: 800px;
	border-radius: 20px;
	z-index: 20000;
}

.pearl_modal .close {
	position: fixed;
	display: none;
	width: 40px;
	height: 40px;
}

.pearl_modal_content {
	background: #fff;
	color: #000;
	padding: 10px;
}

#general-settings-bar {
	float: right;
}

.download {
	display: inline;
}

.layout-selector {

}

#content {
	height: 150px;
	background: #f7faff;
}

.choose-layout-banner {
	width: 380px;
	color: #fff;
	text-shadow:
   -1px -1px 0 #d4ecf8,  
    1px -1px 0 #d4ecf8,
    -1px 1px 0 #d4ecf8,
     1px 1px 0 #d4ecf8;
	position: absolute;
	left: 38%;
	font-size: 50px;
	z-index: 0;
}

iframe {
	width: 100%;
	position: relative;
	border: none;
	z-index: 10;
}
