body, html {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", helvetica, arial, sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}

#header {
	background: #050a29;
	padding: 10px 20px 5px 20px;
	overflow: hidden;
}

.logoImg {
	width: 23px;
	height: 23px;
	margin: -2px 2px 0 0;
	float: left;
}

.logo {
	float: left;
	margin: 0;
	color: #fff;
}

#general-settings-bar {
	float: right;
}

.layout-selector {

}

#content {
	background: #f7faff;
}

.choose-layout-banner {
	width: 380px;
	color: #fff;
	text-shadow:
   -1px -1px 0 #e5ecf5,  
    1px -1px 0 #e5ecf5,
    -1px 1px 0 #e5ecf5,
     1px 1px 0 #e5ecf5;
	position: absolute;
	left: 38%;
	font-size: 50px;
	z-index: 0;
}

iframe {
	width: 100%;
	position: relative;
	border: none;
	z-index: 10;
}

#element-module {
	width: 100px;
	background: #050a29;
	padding: 5px;
	margin: 0 auto;
	overflow: hidden;
}

#element-module .element-list {
	width: 100px;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

#element-module .element-list ul {
	width: 211px;
	margin-left: 100px;
	background: #050a29;
	overflow: hidden;
	list-style: none;
	text-align: right;
}

#element-module .element-list ul li {
	display: inline-block;
}

.elementItem {
}

.element-list img {
	width: 100px;
	height: 80px;
	margin: 0 auto;
}

.element-module-icon, .submenu {
	float: left;
}

.element-module-icon {
	position: relative;
	z-index: 1;  
}

.submenu {
	position: absolute;
	margin: -5px 0 0 0;
	padding: 5px 5px 0 0;
	z-index: 0;
}

.submenu li {
	margin-left: 5px;
}

.submenu li img {
	margin-bottom: 2px;
}

.elementItem img {
	margin-bottom: 10px;
}


