body, html {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", helvetica, arial, sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}

#header {
	background: #050a29;
	padding: 10px 20px 5px 20px;
	overflow: hidden;
}

.logoImg {
	width: 23px;
	height: 23px;
	margin: -2px 2px 0 0;
	float: left;
}

.logo {
	float: left;
	margin: 0;
	color: #fff;
}

#general-settings-bar {
	float: right;
}

.layout-selector {

}

#content {
	background: #f7faff;
}

.choose-layout-banner {
	width: 380px;
	color: #fff;
	text-shadow:
   -1px -1px 0 #e5ecf5,  
    1px -1px 0 #e5ecf5,
    -1px 1px 0 #e5ecf5,
     1px 1px 0 #e5ecf5;
	position: absolute;
	left: 38%;
	font-size: 50px;
	z-index: 0;
}

iframe {
	width: 100%;
	position: relative;
	border: none;
	z-index: 10;
}

#element-module {
	background: #050a29;
	padding: 0 5px;
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 10;
}

#element-module .element-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.elementItem {

}

.element-list img {
	width: 32px;
	height: 40px;
	margin: 0 auto;
}

.element-module-icon {
 
}

.elementItem img {
	margin: 5px 0;
}

.displayContainer {
	width: 200px;
	height: 200px;
	background: #050a29;
	position: absolute;
	padding: 10px;
	z-index: 10;
}

.elementImg {
	width: 80px;
	height: 60px;
}

.displayContainer .delete {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: -20px -8px 0 0;
	right: 0;
}


